<div class="container">
  <div class="list-container">

    <div class="vid-list">
      <a href=""><img src="assets/images/thumbnail1.png" class="thumbnail"></a>
      <div class="flex-div">
        <img src="assets/images/Jack.png">
        <div class="vid-info">
          <a href="">Best Channel to learn coding that help you to be a web developer</a>
          <p>Easy Tutorial</p>
          <p>15k views &bull; 2 days</p>
        </div>
      </div>
    </div>

    <div class="vid-list">
      <a href=""><img src="assets/images/thumbnail2.png" class="thumbnail"></a>
      <div class="flex-div">
        <img src="assets/images/Jack.png">
        <div class="vid-info">
          <a href="">Best Channel to learn coding that help you to be a web developer</a>
          <p>Easy Tutorial</p>
          <p>15k views  &bull; 2 days</p>
        </div>
      </div>
    </div>

    <div class="vid-list">
      <a href=""><img src="assets/images/thumbnail3.png" class="thumbnail"></a>
      <div class="flex-div">
        <img src="assets/images/Jack.png">
        <div class="vid-info">
          <a href="">Best Channel to learn coding that help you to be a web developer</a>
          <p>Easy Tutorial</p>
          <p>15k views &bull;  2 days</p>
        </div>
      </div>
    </div>

    <div class="vid-list">
      <a href=""><img src="assets/images/thumbnail4.png" class="thumbnail"></a>
      <div class="flex-div">
        <img src="assets/images/Jack.png">
        <div class="vid-info">
          <a href="">Best Channel to learn coding that help you to be a web developer</a>
          <p>Easy Tutorial</p>
          <p>15k views  &bull; 2 days</p>
        </div>
      </div>
    </div>

    <div class="vid-list">
      <a href=""><img src="assets/images/thumbnail5.png" class="thumbnail"></a>
      <div class="flex-div">
        <img src="assets/images/Jack.png">
        <div class="vid-info">
          <a href="">Best Channel to learn coding that help you to be a web developer</a>
          <p>Easy Tutorial</p>
          <p>15k views  &bull; 2 days</p>
        </div>
      </div>
    </div>

    <div class="vid-list">
      <a href=""><img src="assets/images/thumbnail6.png" class="thumbnail"></a>
      <div class="flex-div">
        <img src="assets/images/Jack.png">
        <div class="vid-info">
          <a href="">Best Channel to learn coding that help you to be a web developer</a>
          <p>Easy Tutorial</p>
          <p>15k views &bull;  2 days</p>
        </div>
      </div>
    </div>

    <div class="vid-list">
      <a href=""><img src="assets/images/thumbnail7.png" class="thumbnail"></a>
      <div class="flex-div">
        <img src="assets/images/Jack.png">
        <div class="vid-info">
          <a href="">Best Channel to learn coding that help you to be a web developer</a>
          <p>Easy Tutorial</p>
          <p>15k views  &bull; 2 days</p>
        </div>
      </div>
    </div>

    <div class="vid-list">
      <a href=""><img src="assets/images/thumbnail8.png" class="thumbnail"></a>
      <div class="flex-div">
        <img src="assets/images/Jack.png">
        <div class="vid-info">
          <a href="">Best Channel to learn coding that help you to be a web developer</a>
          <p>Easy Tutorial</p>
          <p>15k views  &bull; 2 days</p>
        </div>
      </div>
    </div>

    <div class="vid-list">
      <a href=""><img src="assets/images/thumbnail9.png" class="thumbnail"></a>
      <div class="flex-div">
        <img src="assets/images/Jack.png">
        <div class="vid-info">
          <a href="">Best Channel to learn coding that help you to be a web developer</a>
          <p>Easy Tutorial</p>
          <p>15k views  &bull; 2 days</p>
        </div>
      </div>
    </div>

    <div class="vid-list">
      <a href=""><img src="assets/images/thumbnail10.png" class="thumbnail"></a>
      <div class="flex-div">
        <img src="assets/images/Jack.png">
        <div class="vid-info">
          <a href="">Best Channel to learn coding that help you to be a web developer</a>
          <p>Easy Tutorial</p>
          <p>15k views  &bull; 2 days</p>
        </div>
      </div>
    </div>

    <div class="vid-list">
      <a href=""><img src="assets/images/thumbnail11.png" class="thumbnail"></a>
      <div class="flex-div">
        <img src="assets/images/Jack.png">
        <div class="vid-info">
          <a href="">Best Channel to learn coding that help you to be a web developer</a>
          <p>Easy Tutorial</p>
          <p>15k views &bull; 2 days</p>
        </div>
      </div>
    </div>

    <div class="vid-list">
      <a href=""><img src="assets/images/thumbnail12.png" class="thumbnail"></a>
      <div class="flex-div">
        <img src="assets/images/Jack.png">
        <div class="vid-info">
          <a href="">Best Channel to learn coding that help you to be a web developer</a>
          <p>Easy Tutorial</p>
          <p>15k views  &bull; 2 days</p>
        </div>
      </div>
    </div>

    <div class="vid-list">
      <a href=""><img src="assets/images/thumbnail13.png" class="thumbnail"></a>
      <div class="flex-div">
        <img src="assets/images/Jack.png">
        <div class="vid-info">
          <a href="">Best Channel to learn coding that help you to be a web developer</a>
          <p>Easy Tutorial</p>
          <p>15k views  &bull; 2 days</p>
        </div>
      </div>
    </div>

    <div class="vid-list">
      <a href=""><img src="assets/images/thumbnail14.png" class="thumbnail"></a>
      <div class="flex-div">
        <img src="assets/images/Jack.png">
        <div class="vid-info">
          <a href="">Best Channel to learn coding that help you to be a web developer</a>
          <p>Easy Tutorial</p>
          <p>15k views  &bull; 2 days</p>
        </div>
      </div>
    </div>

    <div class="vid-list">
      <a href=""><img src="assets/images/thumbnail15.png" class="thumbnail"></a>
      <div class="flex-div">
        <img src="assets/images/Jack.png">
        <div class="vid-info">
          <a href="">Best Channel to learn coding that help you to be a web developer</a>
          <p>Easy Tutorial</p>
          <p>15k views  &bull; 2 days</p>
        </div>
      </div>
    </div>

    <div class="vid-list">
      <a href=""><img src="assets/images/thumbnail16.png" class="thumbnail"></a>
      <div class="flex-div">
        <img src="assets/images/Jack.png">
        <div class="vid-info">
          <a href="">Best Channel to learn coding that help you to be a web developer</a>
          <p>Easy Tutorial</p>
          <p>15k views  &bull; 2 days</p>
        </div>
      </div>
    </div>

    <div class="vid-list">
      <a href=""><img src="assets/images/thumbnail17.png" class="thumbnail"></a>
      <div class="flex-div">
        <img src="assets/images/Jack.png">
        <div class="vid-info">
          <a href="">Best Channel to learn coding that help you to be a web developer</a>
          <p>Easy Tutorial</p>
          <p>15k views  &bull; 2 days</p>
        </div>
      </div>
    </div>

    <div class="vid-list">
      <a href=""><img src="assets/images/thumbnail18.png" class="thumbnail"></a>
      <div class="flex-div">
        <img src="assets/images/Jack.png">
        <div class="vid-info">
          <a href="">Best Channel to learn coding that help you to be a web developer</a>
          <p>Easy Tutorial</p>
          <p>15k views  &bull; 2 days</p>
        </div>
      </div>
    </div>

    <div class="vid-list">
      <a href=""><img src="assets/images/thumbnail19.png" class="thumbnail"></a>
      <div class="flex-div">
        <img src="assets/images/Jack.png">
        <div class="vid-info">
          <a href="">Best Channel to learn coding that help you to be a web developer</a>
          <p>Easy Tutorial</p>
          <p>15k views  &bull; 2 days</p>
        </div>
      </div>
    </div>

    <div class="vid-list">
      <a href=""><img src="assets/images/thumbnail20.png" class="thumbnail"></a>
      <div class="flex-div">
        <img src="assets/images/Jack.png">
        <div class="vid-info">
          <a href="">Best Channel to learn coding that help you to be a web developer</a>
          <p>Easy Tutorial</p>
          <p>15k views  &bull; 2 days</p>
        </div>
      </div>
    </div>

    <div class="vid-list">
      <a href=""><img src="assets/images/thumbnail21.png" class="thumbnail"></a>
      <div class="flex-div">
        <img src="assets/images/Jack.png">
        <div class="vid-info">
          <a href="">Best Channel to learn coding that help you to be a web developer</a>
          <p>Easy Tutorial</p>
          <p>15k views  &bull; 2 days</p>
        </div>
      </div>
    </div>

  </div>
</div>









<!--
<div class="album py-5 bg-info">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

      
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://img.youtube.com/vi/lrk4oY7UxpQ/maxresdefault.jpg" alt="preview" class="content">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <h4>Introduction: Crash Course U.S. Government and Politics</h4>
              <div class="btn-group">
                <a class="nav-link" routerLink="blogView">
                <button type="button" (click)="showBlog('Language1.txt')" class="btn btn-sm btn-outline-secondary">Read Blog</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://img.youtube.com/vi/n9defOwVWS8/maxresdefault.jpg" alt="preview" class="content">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <h4>The Bicameral Congress: Crash Course Government and Politics</h4>
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Read Blog</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://img.youtube.com/vi/0bf3CwYCxXw/maxresdefault.jpg" alt="preview" class="content">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <h4>Separation of Powers and Checks and Balances: Crash Course Government and Politics</h4>
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Read Blog</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://img.youtube.com/vi/J0gosGXSgsI/maxresdefault.jpg" alt="preview" class="content">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <h4>Federalism: Crash Course Government and Politics</h4>
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Read Blog</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://img.youtube.com/vi/kCCmuftyj8A/maxresdefault.jpg" alt="preview" class="content">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <h4>Constitutional Compromises: Crash Course Government and Politics</h4>
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Read Blog</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://img.youtube.com/vi/qxiD9AEX4Hc/maxresdefault.jpg" alt="preview" class="content">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <h4>Congressional Elections: Crash Course Government and Politics</h4>
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Read Blog</button>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
-->
