<div>
  <div class="list-container">
    <div class="vid-list" *ngFor="let video of recommendedVideos">
      <img src="{{'https://img.youtube.com/vi/' + video.videoId+'/0.jpg'}}" (click)="showBlog(video)" class="thumbnail" alt="Thumbnail" />
      <div class="flex-div">

        <div class="vid-info">
          <u><p (click)="showBlog(video)">{{video.title}}</p></u>
          <!--<a href="" routerLink="blogView" >{{video.title}}</a>-->
        </div>
        
      </div>
    </div>
  </div>
</div>