
<div class="list-container">

  <div class="vid-list" *ngFor="let file of [].constructor(10); let r = index">
    <a href=""><img src="assets/images/thumbnail1.png" class="thumbnail" alt="Thumbnail"/></a>
    <div class="flex-div">

      <div class="vid-info">
        <a href=""
          >Best Channel to learn coding that help you to be a web developer</a
        >
        <p>Easy Tutorial</p>
        <p>15k views &bull; 2 days</p>
      </div>
    </div>
  </div>

  <div class="vid-list">
    <a href=""><img src="assets/images/thumbnail2.png" class="thumbnail" alt="Thumbnail"/></a>
    <div class="flex-div">
      
      <div class="vid-info">
        <a href=""
          >Best Channel to learn coding that help you to be a web developer</a
        >
        <p>Easy Tutorial</p>
        <p>15k views &bull; 2 days</p>
      </div>
    </div>
  </div>

  <div class="vid-list">
    <a href=""><img src="assets/images/thumbnail3.png" class="thumbnail" /></a>
    <div class="flex-div">
      
      <div class="vid-info">
        <a href=""
          >Best Channel to learn coding that help you to be a web developer</a
        >
        <p>Easy Tutorial</p>
        <p>15k views &bull; 2 days</p>
      </div>
    </div>
  </div>

  <div class="vid-list">
    <a href=""><img src="assets/images/thumbnail4.png" class="thumbnail" /></a>
    <div class="flex-div">
      
      <div class="vid-info">
        <a href=""
          >Best Channel to learn coding that help you to be a web developer</a
        >
        <p>Easy Tutorial</p>
        <p>15k views &bull; 2 days</p>
      </div>
    </div>
  </div>

  <div class="vid-list">
    <a href=""><img src="assets/images/thumbnail5.png" class="thumbnail" /></a>
    <div class="flex-div">
      
      <div class="vid-info">
        <a href=""
          >Best Channel to learn coding that help you to be a web developer</a
        >
        <p>Easy Tutorial</p>
        <p>15k views &bull; 2 days</p>
      </div>
    </div>
  </div>

  <div class="vid-list">
    <a href=""><img src="assets/images/thumbnail6.png" class="thumbnail" /></a>
    <div class="flex-div">
      
      <div class="vid-info">
        <a href=""
          >Best Channel to learn coding that help you to be a web developer</a
        >
        <p>Easy Tutorial</p>
        <p>15k views &bull; 2 days</p>
      </div>
    </div>
  </div>

 