<div>
  <div class="list-container">
    <div class="vid-list" *ngFor="let video of favVideo">
      <img src="{{'https://img.youtube.com/vi/' + video.videoId+'/0.jpg'}}" routerLink="blogView" class="thumbnail" alt="Thumbnail" />
      <div class="flex-div">

        <div class="vid-info">
          <a href="" routerLink="blogView" class="fav-info">{{video.title}}</a>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Remove</a> -->
        </div>
      </div>
    </div>
  </div>
</div>




  <!-- <div class="card" style="width: 18rem;" *ngFor="let video of favVideo">
    <img class="card-img-top" src="{{'https://img.youtube.com/vi/' + video.videoID+'/0.jpg'}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{video.videoTitle}}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Remove from Favourite List</a>
    </div>
  </div> -->