<nav class="flex-div">
  <div class="nav-left flex-div">
    <img
      src="assets/images/menu.png"
      class="menu-icon"
      (click)="menuButtonClickEvent()"
    />
    <a href="#"> <img src="assets/images/logo.png" class="logo" alt="" /> </a>
    
  </div>

  <div class="nav-middle flex-div">
    <div class="search-box flex-div">
      <input type="text" placeholder="Search" />
      <img src="assets/images/search.png" alt="" />
      <!-- <button class="btn btn-primary">search</button> -->
    </div>
  </div>

  <div class="nav-right flex-div">
    <button *ngIf="!loggedIn" type="button" class="btn btn-secondary btn-lg" (click)="signin()">Sign In</button>
    <button *ngIf="loggedIn" type="button" class="btn btn-secondary btn-lg" (click)="signout()">Sign Out</button>
    <!--img src="assets/images/r.png" class="user-icon" alt="User-Icon" /-->
  </div>
</nav>

<!--sidebar-->
<div class="sidebar" [class.small-sidebar]="click == 0">
  <div class="shortcut-links">
    <a href=""><img src="assets/images/home.png" /><p>Home</p></a>
    <a href="" routerLink="favList"><img src="assets/images/favicon.png" /><p>Favourite List</p></a>
    <a href="" routerLink="history"><img src="assets/images/history.png" /><p>History</p></a>
    <a href="" routerLink="about-us"><img src="assets/images/about.png" /><p>About</p></a>
    <hr />
  </div>
</div>
